<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>botlist</title>
	<link rel="stylesheet" type="text/css" href="../src/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../src/css/index.css">
</head>
<body>
<!-- 头部 -->
   
	<header>
	<div class="container">
<!-- 头部导航 -->
		<div class="nav-header ">
            <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar fff"></span>
                    <span class="icon-bar fff"></span>
                    <span class="icon-bar fff"></span>
                </button>
			<a class="navbar-brand" href="javascript:;" ><img src="../src/img/logo.svg"></a>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
			<ul  class="nav navbar-nav ">
				<li><a href="javascript:;">Articles</a></li>
				<li><a href="javascript:;">Create a Bot</a></li>
				<li><a href="javascript:;">Submit a Bot</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right ">
				<li><a href="javascript:;">Browse</a></li>
				<li><a href="javascript:;">Login</a></li>
				<li><a href="javascript:;">Register</a></li>
			</ul>
            </div>
		</div>
<!-- 头部搜索 -->
		<div class="container">
		<div class="headdown">
			<h2>An App Store For Bots</h2>
			<img src="../src/img/headicon.svg">
			<form >
			<input type="text" class="input-lg form-control" placeholder="These aren't the droids we're looking for." />
			<button class="btn btn-custom">SEARCH</button>
			</form>
		</div>
		</div>
	</div>
	</header>
<!-- content -->
    <content>
    	<div class="container">
    		<div class="row">
<!-- 中间左边导航 -->
    			<div class="col-xs-2 hidden-xs">
    				<div class="leftnav">
    					<h5>PLATFORMS</h5>
    					<ul class="list-unstyled">
    						<li><a href="javacript:;">Android</a></li>
    						<li><a href="javacript:;">Email</a></li>
    						<li><a href="javacript:;">Facebook Messenger</a></li>
    						<li><a href="javacript:;">iPhone</a></li>
    						<li><a href="javacript:;">Kik</a></li>
    						<li><a href="javacript:;">Slack</a></li>
    						<li><a href="javacript:;">SMS</a></li>
    						<li><a href="javacript:;">Telegram</a></li>
    						<li><a href="javacript:;">Web</a></li>
    					</ul>
    				</div>
    				<div class="leftnav">
    					<h5>CATEGORIES</h5>
    					<ul class="list-unstyled">
    						<li><a href="javacript:;">Build A Bot</a></li>
    						<li><a href="javacript:;">Analytics</a></li>
    						<li><a href="javacript:;">Communication</a></li>
    						<li><a href="javacript:;">Customer Support</a></li>
    						<li><a href="javacript:;">Design</a></li>
    						<li><a href="javacript:;">Developer Tools</a></li>
    						<li><a href="javacript:;">File Management</a></li>
    						<li><a href="javacript:;">Health</a></li>
    						<li><a href="javacript:;">HR</a></li>
    						<li><a href="javacript:;">Marketing</a></li>
    						<li><a href="javacript:;">Office Management</a></li>
    						<li><a href="javacript:;">Payments</a></li>
    						<li><a href="javacript:;">Personal</a></li>
    						<li><a href="javacript:;">Productivity</a></li>
    						<li><a href="javacript:;">Security</a></li>
    						<li><a href="javacript:;">Social &amp; Fun</a></li>
    						<li><a href="javacript:;">Task Management</a></li>
    						<li><a href="javacript:;">Travel</a></li>
    					</ul>
    				</div>
    			</div>
<!-- 中间右边部分 -->
    			<div class="col-lg-10 col-xs-12">
    				<div class="right">
    					<h5>FEATURED BOTS</h5>
    					<div class="row ">
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/1.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Chatfuel</a></h2>
                                            <p>Build A Bot</p>
                                            <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            <img src="../src/img/feiji.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/2.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">botgig</a></h2>
                                            <p>Build A Bot</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            <img src="../src/img/kik.png">
                                            <img src="../src/img/jing.svg">
                                            <img src="../src/img/map.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/3.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Smooch for Messengerl</a></h2>
                                            <p>Build A Bot</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/4.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Botlytics</a></h2>
                                            <p>Build A Bot +3</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/map.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/5.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Messenger Platform</a></h2>
                                            <p>Build A Bot</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/6.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Bot Platform 2.0</a></h2>
                                            <p>Build A Bot</p>
                                            <p class="xiaotu">
                                            <img src="../src/img/feiji.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="right">
    					<h5>NEW BOTS</h5>
    					<div class="row ">
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/7.jpg"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">And Chill</a></h2>
                                            <p>Personal +1</p>
                                            <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            <img src="../src/img/sms.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/8.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Kitbot</a></h2>
                                            <p>Personal +1</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            <img src="../src/img/sms.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/9.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Surveybot</a></h2>
                                            <p>Marketing</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/10.jpg"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Air Meekan</a></h2>
                                            <p>Travel</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/lei.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/11.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Emojify</a></h2>
                                            <p>Social &amp; Fun</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/jing.svg">
                                            <img src="../src/img/feiji.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/12.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Unsplash</a></h2>
                                            <p>Social &amp; Fun +1</p>
                                            <p class="xiaotu">
                                            <img src="../src/img/jing.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    				<div class="right">
    					<h5>UPCOMING</h5>
    					<div class="row ">
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/13.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Troops</a></h2>
                                            <p>Analytics +2</p>
                                            <p class="xiaotu">
                                            <img src="../src/img/jing.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/14.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Baxter</a></h2>
                                            <p>Productivity +1</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/jing.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>
    						<div class="col-sm-4 col-xs-12">
    							<div class="bot">
    								<div class="row">
    									<div class="col-sm-4 col-xs-4">
    										<a href="javascript:;"><img src="../src/img/15.png"></a>
    									</div>
    									<div class="col-sm-8 col-xs-8 move">
    										<h2><a href="javascript:;">Cache</a></h2>
                                            <p>Personal +1</p>
                                             <p class="xiaotu">
                                            <img src="../src/img/sms.svg">
                                            </p>
    									</div>
    								</div>
    							</div>
    						</div>	
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </content>
<!-- footer -->
    <footer>
    	<div id="foot" class="container">
    	   <h3>As Seen On</h3> 
    	   <hr/>
    		<div class="row">
    			<div class="col-sm-3 col-xs-6">
    				<img src="../src/img/foot1.svg">
    			</div>
    			<div class="col-sm-3 col-xs-6">
    				<img src="../src/img/foot2.svg">
    			</div>
    			<div class="col-sm-3 col-xs-6">
    				<img src="../src/img/foot3.svg">
    			</div>
    			<div class="col-sm-3 col-xs-6">
    				<img src="../src/img/foot4.svg">
    			</div>
    		</div>
    		<hr/>
    		<div class="row">
    			<div class="col-sm-6">
    				<p>© BotList 2016, A Marketing Stack Ltd Company</p>
    			</div>
    			<div class="col-sm-6 text-right">
    				<span>Built by:</span>
    				<a href="javascript:;">@bentossell</a> , 
    				<a href="javascript:;">@sethlouey</a> ,
    				<a href="javascript:;">@mubashariqbal</a> 
    			</div>
    		</div>
    	</div>
    </footer>  
</body>
 <script type="text/javascript" src="../src/js/jquery.min.js"></script>
 <script type="text/javascript" src="../src/js/bootstrap.min.js"></script>
</html>